<div class="cart-dropdown-wrap cart-dropdown-hm2">
  <ul>
    <li *ngFor="let item of cartService.cartItemsSignal().slice(0, 3)">
        <div class="shopping-cart-img">
            <!-- Lien vers l'image du produit -->
            <a>
                <img alt="shop" [src]="item.product.image1" />
            </a>
        </div>
        <div class="shopping-cart-title">
            <!-- Nom du produit avec une troncature si nécessaire -->
            <h4>
                <a [routerLink]="['/details-product', item.product.id]">
                    {{item.product.name.length > 10 ? (item.product.name.substring(0, 10) + '...') : item.product.name}}
                </a>
            </h4>
            <!-- Affichage du prix réduit ou du prix normal -->
            <h4>
                <span>{{item.quantity}} × </span>
                {{ (item.product.reduced_price && item.product.reduced_price.trim() !== '' ? item.product.reduced_price : item.product.price) | number: '1.0-0' }}
            </h4>
        </div>
        <div class="shopping-cart-delete" (click)="deleteItem(item.product.id)">
            <!-- Icône pour supprimer l'article du panier -->
            <a href="javascript:void(0);">
                <i class="fi-rs-cross-small"></i>
            </a>
        </div>
    </li>
    
</ul>
    <div class="shopping-cart-footer">
        <div class="shopping-cart-total">
            <h4>Total <span>{{totalCheckout | number:'1.0-0'}} CFA</span></h4>
        </div>
        <div class="shopping-cart-button">
            <a routerLink="/cart">Voir plus</a>
            <a routerLink="/shop-checkout">Commander</a>
        </div>
    </div>
</div>
