<div class="cart-dropdown-wrap cart-dropdown-hm2">
  <ul>
    <li *ngFor="let item of cartItems">
        <div class="shopping-cart-img">
            <a><img alt="Nest" [src]="item.product.image1" /></a>
        </div>
        <div class="shopping-cart-title">
            <h4><a href="shop-product-right.html"> {{item.product.name.substring(0,10)}} ... </a></h4>
            <h4><span>{{item.quantity}} × </span>{{ (item.product.reduced_price && item.product.reduced_price.trim() !== '' ? item.product.reduced_price : item.product.price) | number: '1.0-0' }}</h4>
        </div>
        <div class="shopping-cart-delete">
            <a href="#"><i class="fi-rs-cross-small"></i></a>
        </div>
    </li>
</ul>
    <div class="shopping-cart-footer">
        <div class="shopping-cart-total">
            <h4>Total <span>{{totalCheckout | number:'1.0-0'}} CFA</span></h4>
        </div>
        <div class="shopping-cart-button">
            <a routerLink="/cart">Voir plus</a>
            <a routerLink="/shop-checkout">Commander</a>
        </div>
    </div>
</div>
