<div class="tab-pane">
    <div class="card border rounded">
      <div class="card-header">
          <h3 class="mb-0">Mes commandes</h3>
      </div>
      <hr>
      <div class="card-body">
          <table class="table table-striped table-bordered table-responsive">
            <thead>
              <tr>
                <th>Order #</th>
                <th>Total</th>
                <th>Order Status</th>
                <th>Date Purchased</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-bottom">
                <td>
                  <a
                    class="navi-link"
                    href="#"
                    data-toggle="modal"
                    data-target="#orderDetails"
                    >t1NCSPl7EG</a
                  >
                </td>
                <td>৳115,612.40</td>
                <td>
                  <span class="text-info">Pending</span>
                </td>


                <td>Sun/Mar/2024</td>
                <td>
                  <a
                    href="https://geniusdevs.com/codecanyon/omnimart40/user/order/invoice/190"
                    class="btn submit btn-sm"
                    >Details</a
                  >
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <a
                    class="navi-link"
                    href="#"
                    data-toggle="modal"
                    data-target="#orderDetails"
                    >kBCuTV7kMM</a
                  >
                </td>
                <td>৳133,455.87</td>
                <td>
                  <span class="text-info">Pending</span>
                </td>
                <td>Sun/Feb/2024</td>
                <td>
                  <a
                    href="https://geniusdevs.com/codecanyon/omnimart40/user/order/invoice/188"
                    class="btn"
                    >Details</a
                  >
                </td>
              </tr>



            </tbody>
          </table>
      </div>
    </div>
</div>

