<div
    class="mobile-menu-wrap mobile-header-border"
    #offCanvasNav
>
    <!-- mobile menu start -->
    <nav>
        <ul class="mobile-menu font-heading">
            <li>
                <a
                    routerLink="/hot-deals"
                    routerLinkActive="active"
                >
                    Hot Deals
                </a>
            </li>
            <li class="menu-item-has-children active">
              <span class="menu-expand">
              <i class="fi-rs-angle-small-down"></i></span>
                <a href="javascript:void(0);">Categories</a>
                <ul class="dropdown">
                    <li *ngFor="let item of listOfData | async">
                      <a [routerLink]="['/categorie', item.slug , 'product']">{{item.name}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a
                    routerLink="/shop"
                    routerLinkActive="active"
                >
                    Nos produits
                </a>
            </li>
            <li>
                <a
                    routerLink="/vendors"
                    routerLinkActive="active"
                >
                    Boutiques
                </a>
            </li>
            <li>
                <a routerLink="/recommandations">Recommandations</a>
            </li>
            <li>
                <a
                    routerLink="/about"
                    routerLinkActive="active"
                >
                    A propos
                </a>
            </li>
            <li>
                <a
                    routerLink="/contact-us"
                    routerLinkActive="active"
                >
                    Contact
                </a>
            </li>
            <li>
                <a
                    routerLink="/vendors/guide"
                    routerLinkActive="active"
                >
                    Devenir vendeur
                </a>
            </li>
            <li>
                <a
                    routerLink="/dashboard"
                    routerLinkActive="active"
                >
                    Mon compte
                </a>
            </li>
        </ul>
    </nav>
    <!-- mobile menu end -->
</div>
