<div class="mobile-menu-wrap mobile-header-border" #offCanvasNav>
    <!-- mobile menu start -->
    <nav>
        <ul class="mobile-menu font-heading">
            <li class="menu-item-has-children">
              <li>
                <a  routerLink="/hot-deals" routerLinkActive="active">Hot Deals</a>
               </li>
                <!-- <li>
                    <a  routerLink="/home" routerLinkActive="active">Acceuil</a>
                </li> -->
              <li>
                  <a routerLink="/shop" routerLinkActive="active">Nos produits</a>
              </li>
              <li>
                  <a routerLink="/vendors" routerLinkActive="active">Boutiques</a>
              </li>
              <!-- <li>
                  <a routerLink="/recommandations" >Recommandations</a>
              </li> -->
              <li>
                  <a routerLink="/about" routerLinkActive="active">A propos</a>
              </li>
              <!-- <li>
                  <a routerLink="/contact-us" routerLinkActive="active">Contact</a>
              </li> -->
              <li>
                  <a routerLink="/vendors/guide" routerLinkActive="active">Devenir vendeur</a>
              </li>
              <li>
                <a routerLink="/dashboard" routerLinkActive="active">Mon compte</a>
              </li>
        </ul>
    </nav>
    <!-- mobile menu end -->
</div>
