<app-breadcrumb [firstTitle]="'Accueil'" [secondTitle]="'Compte'" [firdTitle]="'Mot de passe oublie'"></app-breadcrumb>
<div class="page-content pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="login_wrap widget-taber-content background-white">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-50">Mot de passe oublie ?</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>