<div class="single-comment justify-content-between d-flex mb-30">
    <div class="user justify-content-between d-flex">
        <div class="thumb text-center">
            <img src="assets/imgs/blog/author-2.png" alt="">
            <a href="#" class="font-heading text-brand">Sienna</a>
        </div>
        <div class="desc">
            <div class="d-flex justify-content-between mb-10">
                <div class="d-flex align-items-center">
                    <span class="font-xs text-muted">December 4, 2021 at 3:12 pm </span>
                </div>
                <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 100%"></div>
                </div>
            </div>
            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
        </div>
    </div>
</div>