<app-deals-breadcrumb [title]="'Categories'" [hasCategorie]="true" [items]="listOfData |async"></app-deals-breadcrumb>
<div class="container mb-30">
  <div class="row">
      <div class="col-12">
        <div class="archive-header-2 text-center">
          <!-- <h3 class="display-2 mb-50">Rechercher des articles</h3> -->
          <div class="row">
              <div class="col-lg-5 mx-auto">
                  <div class="sidebar-widget-2 widget_search mb-50">
                      <div class="search-form">
                          <form action="#">
                              <input type="text" placeholder="Rechercher une boutique ici..">
                              <button type="submit"><i class="fi-rs-search"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>

          <div class="row product-grid">

            @if(ecommerceService.listOfProductByCategory.value.length > 0){

              <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let item of ecommerceService.listOfProductByCategory |async">
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a [routerLink]="['/details-product', item.slug]">
                                <img class="default-img" [src]="item.image1" alt="">
                                <img class="hover-img" [src]="item.image2" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Ajouter" class="action-btn" (click)="addToWhishList(item)"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Achéter" class="action-btn" (click)="addTocart(item)"><i class="fi-rs-shopping-cart"></i></a>
                            <a aria-label="Voir plus" class="action-btn" [routerLink]="['/details-product', item.slug]"><i class="fi-rs-eye"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="sale">New</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-category">
                            <a  [routerLink]="['/details-product', item.slug]">
                              {{item.category.name}}
                            </a>
                        </div>
                        <h2><a [routerLink]="['/details-product', item.slug]">
                          {{item.name.substring(0, 17)}} ...
                        </a></h2>
                        <div class="product-rate-cover">
                            <div class="product-rate d-inline-block">
                                <div class="product-rating" style="width: 90%"></div>
                            </div>
                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                        </div>
                        <div>
                            <span class="font-small text-muted">Par <a href="/vendor-details-1">{{item.shop.name}}</a></span>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-price">
                                <span>{{item.reduced_price |number:'1.0-0'}} CFA</span>
                                <!-- <span class="old-price">$32.8</span> -->
                            </div>
                            <div class="add-cart">
                                <a class="add"  [routerLink]="['/details-product', item.slug]"><i class="fi-rs-shopping-cart mr-5"></i>Voir+ </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }@else{

                <!--end product card-->
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let item of listOfLoader">
                    <div class="product-cart-wrap mb-30">
                      <div class="fb-item m-2">
                        <div class="first-section-wrapper">
                          <div class="gravatar">
                            <ngx-skeleton-loader
                              appearance="circle"
                              [theme]="{ width: '80px', height: '80px' }"
                            >
                            </ngx-skeleton-loader>
                          </div>
                          <div class="gravatar-title">
                            <div>
                              <ngx-skeleton-loader
                                [theme]="{
                                  width: '200px',
                                  'border-radius': '0',
                                  height: '15px',
                                  'margin-bottom': '10px'
                                }"
                              ></ngx-skeleton-loader>
                            </div>
                            <div>
                              <ngx-skeleton-loader
                                [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                              >
                              </ngx-skeleton-loader>
                            </div>
                          </div>
                        </div>
                        <div class="second-section-wrapper">
                          <div class="wrapper">
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '80%',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                          <div class="wrapper">
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '90%',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                          <div class="wrapper">
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '60%',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            }


              <!--end product card-->
          </div>
          <!--product grid-->
          <div class="pagination-area mt-20 mb-20">
              <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                      <li class="page-item">
                          <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                      <li class="page-item"><a class="page-link" href="#">6</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                      </li>
                  </ul>
              </nav>
          </div>

          <!--End Deals-->
      </div>
  </div>
</div>
