<div class="container mb-30">
  <div class="archive-header-2 text-center pt-10 pb-20">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="sidebar-widget-2 widget_search mb-40">
          <div class="search-form">
            <form>
              <input
                type="text"
                placeholder="Rechercher vos articles ici ..."
                [(ngModel)]="searchString"
                name="searchString"
                (input)="searchItem()"
              />
              <button type="submit" [disabled]="!searchString" (click)="searchItem()">
                <i class="fi-rs-search"></i>
              </button>
            </form>


            <div class="resultat-box card mt-2" *ngIf="searchString && searchProducts.value.length > 0">
              <h6 class="text-center mt-2">Résultat de votre recherche</h6>
              <ul>
                <li class="border mb-1" *ngFor="let item of searchProducts | async" [routerLink]="['/details-product', item.slug]">
                  <div class="d-flex">
                    <img [src]="item.image1" height="40" width="40" [alt]="item.name" class="img-fluid me-3">
                    <div>
                      <h6 class="text-truncate">
                        {{ item.name.length > 20 ? (item.name.substring(0, 20) + '...') : item.name }}
                      </h6>
                      <p><span>{{ parseIntValue(item.reduced_price ? item.reduced_price : item.price ) | number:'1.0-0' }}</span> FCFA</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row flex-row-reverse">
        <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
            <div class="sidebar-widget widget-category-2 mb-30">
                <h5 class="section-title style-1 mb-30">Categories</h5>
                <div class="categories-dropdown-wrap font-heading">
                    <ul>
                      @if(listOfData.value.length > 0){
                        <li *ngFor="let item of listOfData|async">
                          <a [routerLink]="['/categorie', item.slug , 'product']">
                              <img [src]="item.image" alt="">{{item.name}}</a>
                              <!-- <span class="count">30</span> -->
                        </li>
                        <li>
                          <a role="button" (click)="showMoreCategory()">
                            <div class="more_categories">
                              <span class="icon mb-2"></span>
                              <span class="heading-sm-1 mb-2">Affichez plus...</span></div>
                          </a>
                            <!-- <span class="count">30</span> -->
                        </li>
                      }@else{
                        <li >
                          <a class="category-loader ml-40">
                            <div class="loader3">
                              <div class="bar1"></div>
                              <div class="bar2"></div>
                              <div class="bar3"></div>
                              <div class="bar4"></div>
                              <div class="bar5"></div>
                              <div class="bar6"></div>
                              <div class="bar7"></div>
                              <div class="bar8"></div>
                              <div class="bar9"></div>
                              <div class="bar10"></div>
                              <div class="bar11"></div>
                              <div class="bar12"></div>
                          </div>
                          </a>
                        </li>
                      }

                  </ul>
                </div>

            </div>
            <div class="sidebar-widget price_range range mb-30">
                <h5 class="section-title style-1 mb-30">Filtre</h5>

                <div class="categories-dropdown-wrap font-heading">
                    <!-- <h6 class="mb-2">Selectionner une boutique</h6> -->
                    <ul>
                      @if(listOfStores.value.length > 0){
                        <li *ngFor="let item of listOfStores | async" class="d-flex">
                          <a role="button" href="javascript:void(0);">
                            <input class="form-check-input" type="checkbox" name="checkbox" [id]="item.id" [value]="item.id">
                            <label class="m-2" [for]="item.id"> {{item.name}}</label>
                          </a>
                              <!-- <span class="count">30</span> -->
                        </li>
                        <li>
                          <a role="button" (click)="showMoreStores()">
                            <div class="more_categories">
                              <span class="icon mb-2"></span>
                              <span class="heading-sm-1 mb-2">Affichez plus...</span></div>
                          </a>
                            <!-- <span class="count">30</span> -->
                        </li>
                      }@else{
                        <li >
                          <a class="category-loader ml-40">
                            <div class="loader3 m-3">
                              <div class="bar1"></div>
                              <div class="bar2"></div>
                              <div class="bar3"></div>
                              <div class="bar4"></div>
                              <div class="bar5"></div>
                              <div class="bar6"></div>
                              <div class="bar7"></div>
                              <div class="bar8"></div>
                              <div class="bar9"></div>
                              <div class="bar10"></div>
                              <div class="bar11"></div>
                              <div class="bar12"></div>
                          </div>
                          </a>
                        </li>
                      }

                  </ul>
                </div>
                <div class="list-group">
                  <!-- <div class="d-flex">
                      <div class="custome-checkbox mr-80">
                        <div *ngFor="let item of listOfStores |async; trackBy: trackById">
                            <input class="form-check-input" type="checkbox" name="checkbox" [id]="item.id" [value]="item.id">
                            <label class="form-check-label" [for]="item.id"><span>
                              {{item.name}}
                            </span></label>
                            <br>
                        </div>
                      </div>
                  </div> -->
                    <div class="list-group-item mb-10 mt-10">
                      <h6 class="mb-3">Selectionner un prix</h6>
                      <div class="mb-20">
                        <ngx-slider
                          [(value)]="sliderValue"
                          [(highValue)]="highValue"
                          [options]="sliderOptions">
                        </ngx-slider>
                      </div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Filtrer</a>
            </div>
            <!-- Product sidebar Widget -->
            @if(ecommerceService.newProducts.value.length >0){
                <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                  <h5 class="section-title style-1 mb-30">Nouveaux articles</h5>
                  <div class="single-post clearfix" *ngFor="let item of ecommerceService.newProducts |async">
                      <div class="image">
                          <img [src]="item.image1" alt="#">
                      </div>
                      <div class="content pt-10">
                          <h5><a [routerLink]="['/details-product', item.slug]">{{item.name.substring(0, 15)}} ...</a></h5>
                          <p class="price mb-0 mt-5">{{item.reduced_price |number:'1.0-0'}} CFA</p>
                          <div class="product-rate">
                              <div class="product-rating" style="width: 90%"></div>
                          </div>
                      </div>
                  </div>
              </div>
            }

            <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                <img src="assets/imgs/Retail markdown-pana.svg" alt="">
                <!-- <div class="banner-text">
                    <span>Oganic</span>
                    <h4>
                        Save 17% <br>
                        on <span class="text-brand">Oganic</span><br>
                        Juice
                    </h4>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4-5">
            @if(ecommerceService.listOfProduct.value.length > 0){
              <div class="row product-grid">
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let item of listOfProducts |async">
                    <app-single-product [product]="item"></app-single-product>
                </div>
              </div>
            }@else{
              <div class="row product-grid">
                <!--end product card-->
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let item of listOfLoader">
                  <div class="product-cart-wrap mb-30">
                    <div class="fb-item m-2">
                      <div class="first-section-wrapper">
                        <div class="gravatar">
                          <ngx-skeleton-loader
                            appearance="circle"
                            [theme]="{ width: '80px', height: '80px' }"
                          >
                          </ngx-skeleton-loader>
                        </div>
                        <div class="gravatar-title">
                          <div>
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '200px',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                          <div>
                            <ngx-skeleton-loader
                              [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                            >
                            </ngx-skeleton-loader>
                          </div>
                        </div>
                      </div>
                      <div class="second-section-wrapper">
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '80%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '90%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '60%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }

            <app-articles-propulaires [title]="'Ventes Flash'" [produts]="allProducts"></app-articles-propulaires>

            <app-articles-propulaires [title]="'Les plus vendus'" [produts]="offersProducts"></app-articles-propulaires>

        </div>


    </div>
</div>
