<div class="container mb-30">
    <div class="row flex-row-reverse">
        <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
            <div class="sidebar-widget widget-category-2 mb-30">
                <h5 class="section-title style-1 mb-30">Categories</h5>
                <ul>
                    @if(listOfData.value.length > 0){
                      <li *ngFor="let item of listOfData|async">
                        <a [routerLink]="['/categorie', item.slug , 'product']">
                            <img [src]="item.image" alt="">{{item.name}}</a>
                            <!-- <span class="count">30</span> -->
                      </li>
                    }@else{
                      <li >
                        <a class="category-loader ml-40">
                          <div class="loader3">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                            <div class="bar4"></div>
                            <div class="bar5"></div>
                            <div class="bar6"></div>
                            <div class="bar7"></div>
                            <div class="bar8"></div>
                            <div class="bar9"></div>
                            <div class="bar10"></div>
                            <div class="bar11"></div>
                            <div class="bar12"></div>
                        </div>
                        </a>
                      </li>
                    }

                </ul>
            </div>
            <div class="sidebar-widget price_range range mb-30">
                <h5 class="section-title style-1 mb-30">Filtre</h5>
                <div class="list-group">
                  <div class="d-flex">
                    <div class="custome-checkbox mr-80">
                       <div *ngFor="let item of listOfStores |async; track item">
                          <input class="form-check-input" type="checkbox" name="checkbox" [id]="item.id" [value]="item.id">
                          <label class="form-check-label" [for]="item.id"><span>
                            {{item.name}}
                          </span></label>
                          <br>
                       </div>
                    </div>
                </div>
                    <div class="list-group-item mb-10 mt-10">

                        <label class="fw-900 mt-15">Prix </label>
                        <div class="custome-checkbox">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                            <label class="form-check-label" for="exampleCheckbox11"><span>500 CFA - 5000 CFA</span></label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                            <label class="form-check-label" for="exampleCheckbox21"><span>5000 CFA - 15000 CFA</span></label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                            <label class="form-check-label" for="exampleCheckbox31"><span>15000 CFA - 30000 CFA</span></label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                            <label class="form-check-label" for="exampleCheckbox31"><span>15000 CFA - 30000 CFA</span></label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                            <label class="form-check-label" for="exampleCheckbox31"><span>30000 CFA - 55000 CFA</span></label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                            <label class="form-check-label" for="exampleCheckbox31"><span>55000 CFA - 110000 CFA</span></label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                            <label class="form-check-label" for="exampleCheckbox31"><span>120000 CFA et plus </span></label>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
            </div>
            <!-- Product sidebar Widget -->
            @if(ecommerceService.newProducts.value.length >0){
                <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                  <h5 class="section-title style-1 mb-30">Nouveaux articles</h5>
                  <div class="single-post clearfix" *ngFor="let item of ecommerceService.newProducts |async">
                      <div class="image">
                          <img [src]="item.image1" alt="#">
                      </div>
                      <div class="content pt-10">
                          <h5><a [routerLink]="['/details-product', item.slug]">{{item.name.substring(0, 15)}} ...</a></h5>
                          <p class="price mb-0 mt-5">{{item.reduced_price |number:'1.0-0'}} CFA</p>
                          <div class="product-rate">
                              <div class="product-rating" style="width: 90%"></div>
                          </div>
                      </div>
                  </div>

              </div>
            }

            <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                <img src="assets/imgs/Retail markdown-pana.svg" alt="">
                <!-- <div class="banner-text">
                    <span>Oganic</span>
                    <h4>
                        Save 17% <br>
                        on <span class="text-brand">Oganic</span><br>
                        Juice
                    </h4>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4-5">
            @if(ecommerceService.listOfProduct.value.length > 0){
              <div class="archive-header-2 text-center">
                <!-- <h3 class="display-2 mb-50">Rechercher des articles</h3> -->
                  <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="sidebar-widget-2 widget_search mb-50">
                            <div class="search-form">
                                <form action="#">
                                    <input type="text" placeholder="Rechercher une boutique ici..">
                                    <button type="submit"><i class="fi-rs-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row product-grid">
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let item of ecommerceService.listOfProduct |async">
                    <div class="product-cart-wrap mb-30">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a [routerLink]="['/details-product', item.slug]">
                                    <img class="default-img" [src]="item.image1" alt="">
                                    <img class="hover-img" [src]="  item?.image2" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Add To Wishlist" class="action-btn" (click)="addToWhishList(item)"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Voir" class="action-btn"  [routerLink]="['/details-product', item.slug]"><i class="fi-rs-eye"></i></a>
                                <a aria-label="Acheter" class="action-btn" (click)="addTocart(item)"><i class="fi-rs-shopping-cart"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <!-- <span class="sale">Sale</span> -->
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a [routerLink]="['/details-product', item.slug]">
                                  {{item.category.name}}
                                </a>
                            </div>
                            <h2><a [routerLink]="['/details-product', item.slug]">
                              {{item.name.substring(0, 17)}} ...
                            </a></h2>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 80%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (3.5)</span>
                            </div>
                            <div>
                                <span class="font-small text-muted">Par <a href="vendor-details-1.html"> {{item.shop.name}} </a></span>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    <span> {{item.reduced_price |number:'1.0-0'}} CFA </span>
                                    <!-- <span class="old-price">{{item.price}}</span> -->
                                </div>
                                <div class="add-cart">
                                    <a class="add" [routerLink]="['/details-product', item.slug]"><i class="fi-rs-shopping-cart mr-5"></i>Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


            }@else{
              <div class="row product-grid">
                <!--end product card-->
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let item of listOfLoader">
                  <div class="product-cart-wrap mb-30">
                    <div class="fb-item m-2">
                      <div class="first-section-wrapper">
                        <div class="gravatar">
                          <ngx-skeleton-loader
                            appearance="circle"
                            [theme]="{ width: '80px', height: '80px' }"
                          >
                          </ngx-skeleton-loader>
                        </div>
                        <div class="gravatar-title">
                          <div>
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '200px',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                          <div>
                            <ngx-skeleton-loader
                              [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                            >
                            </ngx-skeleton-loader>
                          </div>
                        </div>
                      </div>
                      <div class="second-section-wrapper">
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '80%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '90%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '60%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
            <!--product grid-->

            <!-- <app-pagniate-data
                [currentPage]="currentPage"
                [pageSize]="pageSize"
                [totalItems]="totalItems"
                (pageChange)="onPageChange($event)">
              </app-pagniate-data> -->
        </div>


    </div>
</div>
