<app-breadcrumb [firstTitle]="'Accueil'" [secondTitle]="'Pannier'" [firdTitle]="'Mes articles'"></app-breadcrumb>

<div class="container mb-80 mt-50">
    <!-- <div class="row">
        <div class="col-lg-8 mb-40">
            <h1 class="heading-2 mb-10">Mon panier</h1>
            <div class="d-flex justify-content-between">
                <h6 class="text-body">There are <span class="text-brand">3</span> products in your cart</h6>
                <h6 class="text-body"><a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i>Clear Cart</a></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="table-responsive shopping-summery">
                <table class="table table-wishlist">
                    <thead>
                        <tr class="main-heading">
                            <th class="custome-checkbox start pl-30">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                <label class="form-check-label" for="exampleCheckbox11"></label>
                            </th>
                            <th scope="col" colspan="2">Produit</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantite</th>
                            <th scope="col">Sous-total</th>
                            <th scope="col" class="end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <app-cart-product ></app-cart-product>
                        <app-cart-product ></app-cart-product>
                    </tbody>
                </table>
            </div>
            <div class="divider-2 mb-10"></div>
            <div class="cart-action d-flex justify-content-between">
                <div class="p-10">
                    <a class="btn "><i class="fi-rs-arrow-left mr-10"></i>Continuer</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="border p-md-4 cart-totals ml-30">
                <div class="table-responsive">
                    <table class="table no-border">
                        <tbody>
                            <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Subtotal</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h4 class="text-brand text-end">$12.31</h4>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="2">
                                    <div class="divider-2 mt-10 mb-10"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Shipping</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h5 class="text-heading text-end">Free</h5></td> </tr> <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Estimate for</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h5 class="text-heading text-end">United Kingdom</h5></td> </tr> <tr>
                                <td scope="col" colspan="2">
                                    <div class="divider-2 mt-10 mb-10"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Total</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h4 class="text-brand text-end">$12.31</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn mb-20 w-100">Commander<i class="fi-rs-sign-out ml-15"></i></a>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
            <h1 class="heading-2 mb-10">Mon pannier</h1>
            <h6 class="text-body mb-40">There are <span class="text-brand">3</span> products to compare</h6>
            <div class="table-responsive">
                <table class="table text-center table-compare">
                    <tbody>
                        <tr class="pr_image">
                            <td class="text-muted font-sm fw-600 font-heading mw-200">Preview</td>
                            <td class="row_img"><img src="assets/imgs/shop/product-2-1.jpg" alt="compare-img"></td>
                            <td class="row_img"><img src="assets/imgs/shop/product-1-1.jpg" alt="compare-img"></td>
                            <td class="row_img"><img src="assets/imgs/shop/product-3-1.jpg" alt="compare-img"></td>
                        </tr>
                        <tr class="pr_title">
                            <td class="text-muted font-sm fw-600 font-heading">Name</td>
                            <td class="product_name">
                                <h6><a href="shop-product-full.html" class="text-heading">J.Crew Mercantile Women's Short</a></h6>
                            </td>
                            <td class="product_name">
                                <h6><a href="shop-product-full.html" class="text-heading">Amazon Essentials Women's Tanks</a></h6>
                            </td>
                            <td class="product_name">
                                <h6><a href="shop-product-full.html" class="text-heading">Amazon Brand - Daily Ritual Wom</a></h6>
                            </td>
                        </tr>
                        <tr class="pr_price">
                            <td class="text-muted font-sm fw-600 font-heading">Price</td>
                            <td class="product_price">
                                <h4 class="price text-brand">$12.00</h4>
                            </td>
                            <td class="product_price">
                                <h4 class="price text-brand">$14.00</h4>
                            </td>
                            <td class="product_price">
                                <h4 class="price text-brand">$15.00</h4>
                            </td>
                        </tr>
                        <tr class="pr_rating">
                            <td class="text-muted font-sm fw-600 font-heading">Rating</td>
                            <td>
                                <div class="rating_wrap">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="rating_num">(121)</span>
                                </div>
                            </td>
                            <td>
                                <div class="rating_wrap">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="rating_num">(35)</span>
                                </div>
                            </td>
                            <td>
                                <div class="rating_wrap">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="rating_num">(125)</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="description">
                            <td class="text-muted font-sm fw-600 font-heading">Description</td>
                            <td class="row_text font-xs">
                                <p class="font-sm text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
                            </td>
                            <td class="row_text font-xs">
                                <p class="font-sm text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
                            </td>
                            <td class="row_text font-xs">
                                <p class="font-sm text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
                            </td>
                        </tr>
                        <tr class="pr_stock">
                            <td class="text-muted font-sm fw-600 font-heading">Stock status</td>
                            <td class="row_stock"><span class="stock-status in-stock mb-0">In Stock</span></td>
                            <td class="row_stock"><span class="stock-status out-stock mb-0">Out of stock</span></td>
                            <td class="row_stock"><span class="stock-status in-stock mb-0">In Stock</span></td>
                        </tr>
                        <tr class="pr_weight">
                            <td class="text-muted font-sm fw-600 font-heading">Weight</td>
                            <td class="row_weight">320 gram</td>
                            <td class="row_weight">370 gram</td>
                            <td class="row_weight">380 gram</td>
                        </tr>
                        <tr class="pr_dimensions">
                            <td class="text-muted font-sm fw-600 font-heading">Dimensions</td>
                            <td class="row_dimensions">N/A</td>
                            <td class="row_dimensions">N/A</td>
                            <td class="row_dimensions">N/A</td>
                        </tr>
                        <tr class="pr_add_to_cart">
                            <td class="text-muted font-sm fw-600 font-heading">Buy now</td>
                            <td class="row_btn">
                                <button class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                            </td>
                            <td class="row_btn">
                                <button class="btn btn-sm btn-secondary"><i class="fi-rs-headset mr-5"></i>Contact Us</button>
                            </td>
                            <td class="row_btn">
                                <button class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                            </td>
                        </tr>
                        <tr class="pr_remove text-muted">
                            <td class="text-muted font-md fw-600"></td>
                            <td class="row_remove">
                                <a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i><span>Remove</span> </a>
                            </td>
                            <td class="row_remove">
                                <a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i><span>Remove</span> </a>
                            </td>
                            <td class="row_remove">
                                <a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i><span>Remove</span> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>