<div class="row related-products">
    <div class="col-lg-3 col-md-4 col-12 col-sm-6" *ngFor="let item of products">
        <div class="product-cart-wrap hover-up">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                    <a
                    [routerLink]="['/details-product', item.slug]"
                        tabindex="0"
                    >
                        <img
                            class="default-img"
                            [src]="baseUrl + item.image1"
                            alt
                        >
                        <img
                            class="hover-img"
                            [src]="baseUrl + item.image2"
                            alt
                        >
                    </a>
                </div>
                <div class="product-action-1">
                    <a
                        aria-label="Quick view"
                        class="action-btn small hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                    >
                        <i class="fi-rs-search"></i>
                    </a>
                    <a
                        aria-label="Add To Wishlist"
                        class="action-btn small hover-up"
                        href="shop-wishlist.html"
                        tabindex="0"
                    >
                        <i class="fi-rs-heart"></i>
                    </a>
                    <a
                        aria-label="Compare"
                        class="action-btn small hover-up"
                        href="shop-compare.html"
                        tabindex="0"
                    >
                        <i class="fi-rs-shuffle"></i>
                    </a>
                </div>
                <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">Hot</span>
                </div>
            </div>
            <div class="product-content-wrap">
                <h2>
                    <a
                    [routerLink]="['/details-product', item.slug]"
                        tabindex="0"
                    >
                    {{item.name.substring(0, 20)}} ...
                    </a>
                </h2>
                <div
                    class="rating-result"
                    title="90%"
                >
                    <span></span>
                </div>
                <div class="product-price">
                    <span>{{item.reduced_price |number:'1.0-0'}} CFA</span>
                    <span class="old-price">{{item.price |number:'1.0-0'}} CFA</span>
                </div>
            </div>
        </div>
    </div>
</div>
