.rating-stars:not(:checked) > input {
    position: absolute;
    appearance: none;
  }

  .rating-stars:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 20px;
    fill: #666;
  }

  .rating-stars:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
  }

  .rating-stars > input:checked + label:hover,
  .rating-stars > input:checked + label:hover ~ label,
  .rating-stars > input:checked ~ label:hover,
  .rating-stars > input:checked ~ label:hover ~ label,
  .rating-stars > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }

  .rating-stars:not(:checked) > label:hover,
  .rating-stars:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }

  .rating-stars > input:checked ~ label > svg {
    fill: #ffa723; /* Set color for selected stars */
  }


  ngb-rating{
    color: #ff902b;
    font-size: 40px;
  }
