.avatar-2 {
    width: 150px;
}

.avatar-2 i{
    width: 200px!important;
}


.input {
  max-width: 190px;
  display: none;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 150px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}

.labelFile img{
  width: 200px;
  height: 150px;
  display: block;

}

