<app-deals-breadcrumb
  [title]="'Politiques'"
  [hasCategorie]="false"
></app-deals-breadcrumb>

<div class="page-content pt-20">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-12 m-auto">
        <div class="row">
          <div class="col-lg-10">
            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
              <div class="single-content mb-50">
                <h4>Bienvenue à BabyShop Politique de confidentialité</h4>

                <h5>Le type d'informations personnelles que nous collectons</h5>
                <ol start="1">
                  <li>
                    Nous collectons certaines informations personnelles sur les
                    visiteurs et les utilisateurs de nos sites.
                  </li>
                  <li>
                    Les types les plus courants d'informations que nous
                    collectons incluent : les noms d'utilisateur, les noms des
                    membres, les adresses email, les adresses IP, d'autres
                    coordonnées, les réponses aux enquêtes, les blogs, les
                    photos, les informations de paiement telles que les
                    coordonnées des agents de paiement, les détails
                    transactionnels, les informations fiscales, les demandes de
                    support, les commentaires sur les forums (le cas échéant),
                    le contenu que vous nous demandez de rendre disponible sur
                    nos sites (comme les descriptions d'articles), vos actions
                    sur nos sites (y compris les sélections ou les saisies
                    d'articles) et les données d'analyse web et email. Nous
                    collecterons également des informations personnelles à
                    partir des candidatures (telles que votre CV, le formulaire
                    de candidature lui-même, la lettre de motivation et les
                    notes d'entretien).
                  </li>
                </ol>
                <h4>Comment nous collectons les informations personnelles ?</h4>
                <ol start="3">
                  <li>
                    Nous collectons des informations personnelles directement
                    lorsque vous nous les fournissez, automatiquement pendant
                    que vous naviguez sur les sites, ou par l'intermédiaire
                    d'autres personnes lorsque vous utilisez des services
                    associés aux sites.
                  </li>
                  <li>
                    Nous collectons vos informations personnelles lorsque vous
                    nous les fournissez lors de l'inscription à un abonnement,
                    de l'achat ou de la fourniture d'articles ou de services sur
                    nos sites, de l'inscription à une newsletter, à une liste de
                    diffusion, de la soumission de commentaires, de la
                    participation à un concours, du remplissage d'une enquête ou
                    de l'envoi d'une communication.
                  </li>
                  <li>
                    En tant qu'opérateur de marchés de contenu numérique, nous
                    avons un intérêt légitime à vérifier l'identité de nos
                    auteurs. Nous croyons que connaître l'identité de nos
                    auteurs renforcera l'intégrité de nos marchés en réduisant
                    la fraude, en rendant les auteurs plus responsables de leur
                    contenu et en permettant à AliThemes et aux clients de faire
                    respecter les contrats pour les auteurs qui enfreignent les
                    règles. AliThemes a également certaines obligations légales
                    qui exigent que nous connaissions l'identité de nos auteurs
                    dans certaines circonstances. En conséquence, si vous êtes
                    un auteur, nous vérifierons votre identité, notamment votre
                    nom, votre adresse complète et votre date de naissance, en
                    vous demandant de nous montrer un document d'identité avec
                    photo. La procédure de vérification s'appelle AliThemes
                    Verify. AliThemes Verify sera effectuée par notre
                    prestataire de services Jumio Corporation situé au 395 Page
                    Mill Road, Suite 150, Palo Alto, Californie, USA. Dans le
                    cadre d'AliThemes Verify, vous devrez prendre un selfie qui
                    sera ensuite comparé à votre document d'identité avec photo
                    à l'aide de la technologie de reconnaissance faciale.
                  </li>
                </ol>

                <h4>Comment nous utilisons les informations personnelles ?</h4>

                <ol start="6">
                  <li>
                    Nous utiliserons vos informations personnelles :
                    <ol>
                      <li>
                        Pour exécuter un contrat ou prendre des mesures liées à
                        un contrat : en particulier, pour faciliter et traiter
                        les transactions qui ont lieu sur les sites, comme
                        lorsque vous achetez un article sur notre marketplace.
                      </li>
                      <li>
                        Lorsque cela est nécessaire pour des objectifs qui sont
                        dans nos intérêts légitimes ou ceux de tiers. Ces
                        intérêts incluent :
                        <ol>
                          <li>l'exploitation des sites ;</li>
                          <li>
                            vous fournir les services décrits sur les sites ;
                          </li>
                          <li>
                            vérifier votre identité lorsque vous vous connectez
                            à l'un de nos sites ;
                          </li>
                          <li>
                            répondre aux tickets de support et faciliter la
                            résolution de tout différend ;
                          </li>
                          <li>
                            vous tenir informé des nouvelles opérationnelles et
                            des informations sur nos sites et services, par
                            exemple, pour vous notifier des changements sur nos
                            sites, des interruptions de site ou des mises à jour
                            de sécurité ;
                          </li>
                          <li>
                            réaliser des analyses techniques pour déterminer
                            comment améliorer les sites et les services que nous
                            fournissons ;
                          </li>
                          <li>
                            surveiller l'activité sur les sites, par exemple,
                            pour identifier les activités potentiellement
                            frauduleuses et garantir le respect des conditions
                            d'utilisation des sites ;
                          </li>
                          <li>
                            gérer notre relation avec vous, par exemple, en
                            répondant à vos commentaires ou questions soumis sur
                            les sites ou en demandant votre avis ou si vous
                            souhaitez participer à une enquête ;
                          </li>
                          <li>
                            gérer nos affaires légales et opérationnelles (y
                            compris la gestion des risques liés au contenu et
                            aux questions de fraude) ;
                          </li>
                          <li>
                            former le personnel de BabsyShop sur la meilleure
                            manière de servir notre communauté d'utilisateurs ;
                          </li>
                          <li>améliorer nos produits et services ;</li>
                          <li>
                            fournir des fonctions et des activités
                            administratives et de performance générales ;
                          </li>
                        </ol>
                      </li>
                      <li>
                        Lorsque vous nous donnez votre consentement :
                        <ol>
                          <li>
                            vous fournir des informations marketing sur des
                            produits et services qui pourraient vous intéresser
                            ; et
                          </li>
                          <li>
                            personnaliser nos services et sites web, comme les
                            publicités qui apparaissent sur le site – lorsque
                            cela implique l'utilisation de cookies ou de
                            technologies similaires – afin de vous offrir une
                            expérience plus personnalisée.
                          </li>
                        </ol>
                      </li>
                      <li>Pour des objectifs requis par la loi.</li>
                      <li>
                        Dans le but de répondre aux demandes des autorités
                        gouvernementales, d'un tribunal ou des forces de l'ordre
                        menant une enquête.
                      </li>
                    </ol>
                  </li>
                </ol>

                <h4>Comment nous assurons la sécurité de vos données personnelles ?</h4>
                <ol start="7">
                  <li>
                    Nous stockons les informations personnelles sur des serveurs sécurisés
                    gérés par nous-mêmes et nos prestataires de services, et occasionnellement
                    des fichiers sur papier qui sont conservés dans un lieu sécurisé en
                    Australie, en Irlande, au Mexique et aux États-Unis. Les informations personnelles
                    que nous stockons ou transmettons sont protégées par des contrôles de sécurité et d'accès, y compris un nom d'utilisateur et un mot de passe.
                    des contrôles d'accès, y compris l'authentification par nom d'utilisateur et mot de passe, l'authentification à deux facteurs
                    l'authentification par nom d'utilisateur et mot de passe, l'authentification à deux facteurs et le cryptage des données, le cas échéant.
                    le cryptage des données le cas échéant.
                  </li>
                </ol>
                <h4>Comment accéder à vos données personnelles ?</h4>
                <ol start="8">
                  <li>
                    Vous pouvez accéder à certaines des informations personnelles que nous collectons à votre sujet en vous connectant à votre compte.
                    en vous connectant à votre compte. Vous pouvez également
                    également le droit de demander l'accès à d'autres informations
                    personnelles que nous détenons à votre sujet et de demander la correction de
                    toute erreur dans ces données. Vous pouvez également fermer le compte que vous
                    Vous pouvez également fermer à tout moment le compte que vous détenez sur l'un de nos sites. Pour faire une demande d'accès ou de correction
                    demande d'accès ou de correction, contactez notre champion de la vie privée
                    en utilisant les coordonnées figurant à la fin de la présente politique.
                  </li>
                </ol>
                <h4>Choix marketing concernant vos informations personnelles </h4>
                <ol start="9">
                  <li>
                    Lorsque nous avons votre consentement (par exemple, si vous vous êtes inscrit à l'une de nos listes de courrier électronique ou si vous nous avez indiqué que vous souhaitiez recevoir des informations sur votre vie privée).
                    vous êtes abonné à l'une de nos listes de diffusion ou avez indiqué
                    que vous souhaitez recevoir des offres ou des informations de notre part), nous vous envoyons des
                    nous), nous vous envoyons des communications marketing par courrier électronique concernant
                    produits et services susceptibles de vous intéresser.
                    vous. Vous pouvez vous désinscrire de ces communications si vous souhaitez
                    si vous préférez ne plus les recevoir à l'avenir.
                    pour ce faire, en utilisant la fonction de « désinscription » fournie dans la communication elle-même.
                  </li>
                  <li>
                    Vous avez également le choix en ce qui concerne les cookies, comme décrit ci-dessous. En modifiant les préférences de votre navigateur, vous pouvez choisir de ne pas utiliser de cookies.
                    modifiant les préférences de votre navigateur, vous avez le choix entre
                    d'accepter tous les cookies, d'être averti lorsqu'un cookie est installé, ou
                    de rejeter tous les cookies. Si vous choisissez de rejeter les cookies, certaines
                    certaines parties de nos sites peuvent ne pas fonctionner correctement dans votre cas.
                  </li>
                </ol>
                <h4>Cookies (pas ceux que l'on mange !) et analyse du web</h4>
                <ol start="10">
                  <li>
                    Pour plus d'informations sur la manière dont nous utilisons les cookies, les balises web
                    et des technologies similaires, voir notre politique en matière de cookies
                    <a href="https://AliThemes.com/cookies/">ici</a>
                    Pour des informations plus générales sur les cookies, voir
                    <a
                      href="http://www.allaboutcookies.org/"
                      rel="noopener noreferrer"
                    >
                      http://www.allaboutcookies.org
                    </a>
                    .
                  </li>
                  <li>
                    Lorsque vous visitez nos sites, certaines informations sont enregistrées.
                    généralement anonymes et ne révèlent pas votre identité.
                    ne révèlent pas votre identité. Si vous êtes connecté à votre compte
                    certaines de ces informations peuvent être associées à votre
                    compte. Il s'agit des informations suivantes :
                    <ol>
                      <li>votre adresse IP ou l'adresse IP du serveur proxy ;</li>
                      <li>le nom de domaine que vous avez demandé ;</li>
                      <li>
                          le nom de votre fournisseur d'accès Internet est parfois enregistré en fonction de la configuration de votre connexion ISP ;
                      </li>
                      <li>la date et l'heure de votre visite sur le site web ;</li>
                      <li>la durée de votre session ;</li>
                      <li>les pages que vous avez consultées ;</li>
                      <li>
                          le nombre de fois où vous accédez à notre site au cours d'un mois ;
                      </li>
                      <li>
                          l'URL du fichier que vous consultez et les informations y relatives ;
                      </li>
                      <li>le site web qui vous a référé à nos Sites ;</li>
                      <li>
                          le système d'exploitation utilisé par votre ordinateur ; et
                      </li>
                      <li>les capacités techniques de votre navigateur web.</li>
                  </ol>
                  </li>
                  <li>
                    Occasionnellement, nous ferons appel à des sociétés de publicité tierces
                    pour diffuser des publicités basées sur les visites antérieures sur nos sites. Par exemple, si vous visitez nos sites
                    par exemple, si vous visitez nos sites, il se peut que vous voyiez plus tard une annonce
                    pour nos produits et services lorsque vous visitez un autre site.
                    site.
                  </li>
                </ol>
                <h4>Informations relatives aux enfants</h4>
                <ol start="13">
                  <li>
                    Nos sites ne conviennent pas aux enfants de moins de 16 ans.
                    Si vous avez moins de 16 ans, nous vous demandons de ne pas utiliser nos sites et de ne pas nous communiquer vos informations personnelles (si vous êtes une personne âgée de moins de 16 ans).
                    sites ou de nous communiquer vos informations personnelles (si vous êtes un
                    jeune génie de la technologie, veuillez demander à l'adulte responsable le plus proche d'utiliser les sites pour vous !
                    d'utiliser les sites à votre place). Si vous avez entre 16 et 18 ans,
                    vous pouvez naviguer sur les sites, mais vous aurez besoin de la supervision d'un parent ou d'un tuteur pour devenir membre.
                    d'un parent ou d'un tuteur pour devenir un utilisateur enregistré. Il est de la
                    responsabilité des parents ou des tuteurs de surveiller l'utilisation
                    l'utilisation de nos sites par leurs enfants.
                  </li>
                </ol>
                <h4>Informations que vous rendez publiques ou que vous communiquez à d'autres personnes</h4>
                <ol start="14">
                  <li>
                    Si vous mettez vos informations personnelles à la disposition d'autres
                    personnes, nous ne pouvons ni contrôler ni accepter la responsabilité
                    la façon dont elles utiliseront ou géreront ces données. Il existe de nombreuses
                    de fournir des informations à d'autres personnes, par exemple lorsque vous publiez un message public sur un forum.
                    à d'autres personnes, par exemple lorsque vous publiez un message public sur un forum, que vous partagez des informations via les médias sociaux ou que vous vous rendez à l'étranger.
                    forum, lorsque vous partagez des informations via les médias sociaux ou lorsque vous entrez en contact avec un autre utilisateur (comme un tiers).
                    avec un autre utilisateur (tel qu'un auteur tiers), que ce soit par l'intermédiaire de nos sites ou directement par courriel.
                    nos sites ou directement par courrier électronique. Avant de rendre vos
                    informations au public ou de les donner à quelqu'un d'autre, réfléchissez bien.
                    à quelqu'un d'autre, réfléchissez bien. Si vous communiquez des informations à
                    à un autre utilisateur par l'intermédiaire de nos sites, demandez-lui comment il traitera
                    vos informations. Si vous partagez des informations via un autre
                    site web, vérifiez la politique de confidentialité de ce site pour
                    pour comprendre ses pratiques en matière de gestion de l'information, car la présente
                    ne s'applique pas.
                  </li>
                </ol>
                <h4>Durée de conservation des données personnelles</h4>
                <ol start="15">
                  <li>
                    Nous conservons vos informations personnelles aussi longtemps que nécessaire pour
                    nécessaire pour vous fournir des services, à vous et à d'autres, et pour
                    respecter nos obligations légales. Si vous ne souhaitez plus
                    que nous utilisions vos informations personnelles ou que nous vous fournissions les services d'AliThemes, vous pouvez nous demander d'effacer vos informations personnelles.
                    services AliThemes, vous pouvez nous demander d'effacer vos informations personnelles et de fermer votre compte AliThemes.
                    informations personnelles et fermer votre compte AliThemes.
                    Veuillez noter que si vous demandez l'effacement de vos informations personnelles, nous conserverons les informations des comptes supprimés.
                    personnelles, nous conserverons les informations des comptes supprimés
                    si cela est nécessaire pour nos intérêts commerciaux légitimes, pour
                    se conformer à la loi, prévenir la fraude, collecter les frais, résoudre les
                    résoudre des litiges, résoudre des problèmes, participer à des enquêtes
                    ou les demandes du gouvernement, d'un tribunal ou d'autorités chargées de l'application de la loi
                    autorités chargées de l'application de la loi, faire respecter les conditions de service et
                    prendre d'autres mesures autorisées par la loi. Les informations que nous
                    Les informations que nous conservons seront traitées conformément à la présente politique de confidentialité.
                    politique de protection de la vie privée.
                  </li>
                </ol>
                <h4>Lorsque nous devons mettre à jour cette politique</h4>
                <ol start="16">
                  <li>
                    Nous serons amenés à modifier cette politique de temps à autre pour
                    afin de nous assurer qu'elle reste à jour par rapport aux dernières
                    légales les plus récentes et de toute modification de nos
                    de la vie privée.
                  </li>
                  <li>
                    Lorsque nous modifions la politique, nous veillons à vous en informer, le cas échéant.
                    de ces changements, le cas échéant. Une copie de la dernière
                    version de cette politique sera toujours disponible sur cette
                    page.
                  </li>
                </ol>
                <h4>Comment nous contacter ?</h4>
                <ol start="17">
                  <li>
                    Si vous avez des questions sur nos pratiques en matière de protection de la vie privée ou sur la manière dont nous avons géré vos données personnelles, veuillez nous contacter.
                    ou
                    <a href="mailto:smcorneille@gmail.com"
                      >smcorneille&#64;gmail.com</a
                    >
                    .
                  </li>
                  <li>
                    Nous sommes ravis que vous ayez atteint la fin de la politique de confidentialité.
                    car la connaissance de cette politique est le meilleur moyen de comprendre
                    de comprendre comment vos données personnelles sont utilisées et comment
                    comment les gérer au mieux !
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
