<div class="tab-pane fade active show">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-2">Bienvenue, {{userSession?.last_name}}  {{userSession?.first_name}} !</h3>
        </div>
    </div>
    <div class="row">
      <div class="row u-d-d">
        <div class="col-md-6 mb-4">
            <div class="card round border">
                <div class="card-body text-center">
                    <i class="icon-shopping-bag"></i>
                    <p class="mt-3">All Order</p>
                    <h4><b>27</b></h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card round border">
                <div class="card-body text-center">
                    <i class="icon-shopping-bag"></i>
                    <p class="mt-3">Completed Order</p>
                    <h4><b>0</b></h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card round border">
                <div class="card-body text-center">
                    <i class="icon-shopping-bag"></i>
                    <p class="mt-3">Processing Order</p>
                    <h4><b>0</b></h4>
                </div>
            </div>
        </div>


        <div class="col-md-6 mb-4">
            <div class="card round border">
                <div class="card-body text-center">
                    <i class="icon-shopping-bag"></i>
                    <p class="mt-3">Canceled Order</p>
                    <h4><b>0</b></h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card round border rounded">
                <div class="card-body text-center">
                    <i class="icon-shopping-bag"></i>
                    <p class="mt-3">Pending Order</p>
                    <h4><b>27</b></h4>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>
