<app-head />
<main class="main pages">
  <app-breadcrumb
    [firstTitle]="'Accueil'"
    [secondTitle]="'Pages'"
    [firdTitle]="'Mon compte'"
  ></app-breadcrumb>
  <div class="page-content pt-20 pb-30">
    <div class="container-fluid">
      <div class="row">
          <!-- Toggle button for sidebar on small screens -->
          <div class="col-12 d-md-none text-center">
              <button class="btn  mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse">
                <i class="fi-rs-list fs-2 text-dark"></i>
              </button>
          </div>
      </div>
      <div class="row m-auto">
          <!-- Sidebar: Collapsible on smaller screens, always visible on larger screens -->
          <div class="col-md-3">
              <div class="collapse d-md-block" id="sidebarCollapse">
                  <app-sidebar></app-sidebar>
              </div>
          </div>

          <!-- Main content: Full-width on smaller screens, offset by sidebar on larger screens -->
          <div class="col-md-9">
              <div class="">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>

  </div>
</main>
<app-footer />
